.tour__btn {
  background: #FFFFFF;
  border: 1px solid #F5170E;
  color: #F5170E;
  border-radius: 35px;
  padding: 18px 30px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 136px;
  min-height: 56px;
  
}

.tour__btn--active, .tour__btn:hover {
  background: #F5170E;
  color: #FFFFFF;
  transition: .2s;

}

.btn {
  background: #F5170E;
  border-radius: 35px;
  padding: 18px 40px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 170px;
  }
  
  .btn:hover {
    background: #DA0100;
    transition: .2s;
  }
