@import url("./btn.css");
@import url("./main.css");



.welcome {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: url("../images/bg/screen.jpg") center bottom / cover no-repeat;
}

.central {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.central__logo {
  margin-bottom: 10px;
  width: 279px;
  height: 119px;
}

.central__text {
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 55px;
}

.btn {
 padding: 20px 58px;
}


.central--asia {
  opacity: 0;
  animation: zoom .9s ease-in forwards;
}

@keyframes zoom {
  from {
    transform: scale(.7);
  }

  20% {
    transform: scale(1.15);
  }

  40% {
    transform: scale(.9);
  }

  60% {
    transform: scale(1.1);
  }

  80% {
    transform: scale(.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
