.jumb__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 600px;
  padding-top: 55px;
}

.jumb__image {
  width: 48%;
}

.jumb__image-title {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.15;
  margin-bottom: 30px;
  }
  
  .jumb__image-text {
    font-size: 18px;
    margin-bottom: 50px;
  }
  